<div class="container-fluid">
  <div class="col-md-offset-1">
    <div style="text-align: center">
      <h1>
        Spindle Reports
      </h1>
    </div>
  </div>
  
  <div class="navbar">
    <a class="active" href="#"><i class="fa fa-fw fa-home"></i> Home</a> 
    <a href="#"><i class="fa fa-fw fa-search"></i> Dashboard</a> 
    <a routerLink="/user"><i class="fa fa-fw fa-envelope"></i> Reports</a> 
    <a href="#"><i class="fa fa-fw fa-user"></i> Login</a>
  </div>

  <!-- <a style="margin-left:10px" routerLink="/add">Add User</a> -->
  <br/>
  <router-outlet></router-outlet>
  </div>